.dirname {
  cursor: pointer;
  &:hover {
    background: #3498db;
    color: white;
  }
}

.active {
  cursor: pointer;
  background: #3498db;
  color: white;
}

.form-control {
  width: 25%;
  display: inline-block;
}

.custom-select {
  width: 25%;
}
